{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'новый пароль'|capfirst %}</h1>
    <form>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder={% trans 'пароль' %}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2"></label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder={% trans 'пароль' %}>
        </div>
        <button type="submit" class="btn btn-default">{% trans 'сохранить'|capfirst %}</button>
    </form>
{% endblock %}