{% extends 'base.html' %}

{% block content %}
    <h1>регистрация</h1>
    <form>
        <div class="form-group">
            <label for="exampleInputName"></label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="имя">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail"></label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="пароль">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2"></label>
            <input type="password" class="form-contro1" id="exampleInputPassword2" placeholder="пароль">
        </div>
        <button type="submit" class="btn btn-default">зарегистрироваться</button>
    </form>
    <a href=#>авторизация</a>
{% endblock %}