{% extends 'base.html' %}
{% load i18n microsocial %}

{% block content %}
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            {% if change_password_user_id %}
                <h1>
                    {% blocktrans trimmed with u=change_password_user_id.get_short_name %}
                        {{ u }}!
                    {% endblocktrans %}
                </h1>
                <p>
                {% blocktrans trimmed with e=change_password_user_id.email %}
                    Подтвердите смену пароля перейдя по ссылке, которая отправлена на Ваш email {{ e }}
                    <br>Внимание ссылки будет действительна 48 часов!!!
                {% endblocktrans %}
                </p>
            {% else %}
                <h1 class="text-center">{% trans 'востановления пароля'|capfirst %}</h1>
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% show_form_field_errors field.errors 'col-sm-offset-4 col-sm-8' %}
                        <div class="form-group {% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label col-sm-4">
                                {{ field.label|capfirst }}:
                            </label>

                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" class="btn btn-primary"
                                   value="{% trans 'востановить пароль'|capfirst %}">
                        </div>
                    </div>
                </form>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-offset-4 col-sm-8">
                        <a href={% url 'login' %}>{% trans 'авторизация'|capfirst %}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}