{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    registration
    <h1>{% trans 'регистрация'|capfirst %}</h1>
    <form>
        <div class="form-group">
            <label for="exampleInputName"></label>
            <input type="text" class="form-control" id="exampleInputName" placeholder={% trans 'имя' %}>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail"></label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder={% trans 'пароль' %}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2"></label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder={% trans 'пароль' %}>
        </div>
        <button type="submit" class="btn btn-default">{% trans 'зарегистрироваться'|capfirst %}</button>
    </form>
    <a href={% url 'login' %}>{% trans 'авторизация'|capfirst %}</a>
{% endblock %}