{% extends 'base.html' %}
{% load i18n microsocial %}


{% block content %}
{#    <h1>{{ user_profile.first_name }} {{ user.last_login }}</h1>#}

<div class="row">


    <div class="col-md-4">
        {% if user_profile.image %}
    <img src="{{ user_profile.image }}" class="img-thumbnail" width="304" height="236">
        {% else %}
            <img src="cinqueterre.jpg" class="img-thumbnail" width="304" height="236">

        {% endif %}

    </div>
    <div class="col-md-8">.col-md-8</div>

</div>

            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
                <table class="table">
                    <tr>
                        <td>{% trans 'пол'|capfirst %}</td>
                        <td>{{ user_profile.get_sex_display }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'дата рождения'|capfirst %}</td>
                        <td>{{ user_profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'город'|capfirst %}</td>
                        <td>{{ user_profile.city }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'место работы'|capfirst %}</td>
                        <td>{{ user_profile.about_me }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'интересы'|capfirst %}</td>
                        <td>{{ user_profile.interests }}</td>
                    </tr>
                </table>
                </p>
            </div>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
    </form>


{#    <div class="row">#}
{#        <div class="col-xs-offset-3 col-xs-6">#}
{#                <form class="form-horizontal" method="post">#}
{#                    {% csrf_token %}#}
{#                  {% show_form_errors form 'col-sm-offset-4 col-sm-8' %}#}
{#                    {% for field in form %}#}
{#                        <div class="form-group {% if form.errors %} has-error{% endif %}">#}
{#                        <div class="form-group">#}
{#                            <label for="{{ field.id_for_label }}" class="control-label col-sm-4">#}
{#                                {{ field.label|capfirst }}:#}
{#                            </label>#}
{##}
{#                            <div class="col-sm-8">#}
{#                                {{ field }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    <div class="form-group">#}
{#                        <div class="col-sm-offset-4 col-sm-8">#}
{#                            <input type="submit" class="btn btn-primary"#}
{#                                   value="{% trans 'войти'|capfirst %}">#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#                <div class="row" style="margin-top: 40px;">#}
{#                    <div class="col-sm-offset-4 col-sm-8">#}
{#                    </div>#}
{#                </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}