{% extends 'base.html' %}
{% load i18n users_to_teg %}


{% block content %}

    {% block menu %}
    <div class="row" >
        <div class="col-xs-3">
        {% for key, item in FRIEND_MENU %}
            <div class="text-left" style="margin-top: 10px;">
            <ul>

                    <li {% if friend_menu_key == key %}class="text-primary" {% endif %}>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
            </ul>
            </div>
         {% endfor %}
        </div>
        <div class="col-xs-9">
        {% for key, item in FRIEND_MENU %}
                 {% if friend_menu_key == key %}
                     <h1 class="text-left">{{ item.title }}</h1>
                 {% endif %}
        {% endfor %}

{% endblock %}

        {% for friend in friends %}
            <div style="margin-top:  20px; border: 1px solid #666; padding: 10px;">
                <div class="row text-left">
                        <form class="form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_user" value="{{ friend.pk }}">
                    <div class="col-sm-2">
                        <img class="img-responsive" src="{{ friend|get_avatar }}">
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <a href="{% url 'user_profile' friend.pk %}">
                                <h3>{{ friend.get_full_name }}</h3>
                            </a>
                        </div>
                            <input type="submit" name="del" class="btn btn-link" value="{% trans 'Удалить друзья' %}"><br>
                            <input type="submit" name="message" class="btn btn-link" value="{% trans 'Написать сообщение' %}">
                    </div>
                        </form>
                </div>
            </div>
        {% endfor %}


    {% block page %}
        {% if friends.has_other_pages %}
            <ul class="pager">
                {% if friends.has_previous %}
                    <li class="previous">
                        <a href="?page={{ friends.previous_page_number }}">
                            &larr; {% trans 'новые'|capfirst %}
                        </a>
                    </li>
                    {% endif %}
                {% if friends.has_next %}
                    <li class="next">
                        <a href="?page={{ friends.next_page_number }}">
                            {% trans 'старые'|capfirst %} &rarr;
                        </a>
                    </li>
                {% endif %}
                </ul>
        {% endif %}

        {% endblock %}

        </div>

    </div>
{% endblock %}