{% extends 'users/friends/friends.html' %}
{% load i18n users_to_teg %}


{% block content %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
        {% for ininvite in friends %}
            <div style="margin-top:  20px; border: 1px solid #666; padding: 10px;">
                <div class="row text-left">
                        <form class="form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_user" value="{{ ininvite.from_user_id }}">
                    <div class="col-sm-2">
                        <img class="img-responsive" src="{{ ininvite.from_user|get_avatar }}">
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <a href="{% url 'user_profile' ininvite.from_user_id %}">
                                <h3>{{ ininvite.from_user.get_full_name }}</h3>
                            </a>
                        </div>
                             <input type="submit" name="approve" class="btn btn-link" value="{% trans 'подтвердить'|capfirst %}"><br>
                             <input type="submit" name="reject" class="btn btn-link" value="{% trans 'отклонить'|capfirst %}">
                    </div>
                        </form>
                </div>
            </div>
        {% endfor %}

       {% block page %}
        {{ block.super }}
    {% endblock %}

{% endblock %}