{% load static i18n %}
<div class="row">
    <div class="col-xs-4">
         <a href="{% url 'main' %}"><img class="img-responsive" src="{% static 'microsocial/img/logo.jpg' %}" alt="logo"
                                                         width="50"></a>
    </div>
    <div class="col-xs-6">
        {% if user.is_authenticated %}
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">{% trans 'новости'|capfirst %}</a></li>
            <li><a href="{% url 'user_profile' user.pk %}">{% trans 'мой профиль'|capfirst %}</a></li>
              <li><a href="{% url 'user_friends' %}">{% trans 'друзья'|capfirst %}</a></li>
              <li><a href="#">{% trans 'сообщения'|capfirst %}</a></li>
              <li><a href="{% url 'search_users' %}">{% trans 'поиск людей'|capfirst %}</a></li>
            <li><a href="{% url 'logout' %}">{% trans 'выход'|capfirst %}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
        {% endif %}

    </div>
    <div class="col-xs-2 text-right">
         <form action="{% url 'set_language' %}" method="post">
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <input id="set_lang_code" name="language" type="hidden" value="">
            </form>
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <a href="#" title="{{ language.name_local }}"
                    {% if language.code == LANGUAGE_CODE %}style="font-weight: bold;"{% endif %}
                    onclick="$('#set_lang_code').val('{{ language.code }}').closest('form').submit(); return false;">
                    {{ language.code }}</a>
            {% endfor %}
    </div>
</div>